body {
  font-family: 'Roboto', sans-serif;
}

.top-area {
  background-color: #03A9F4;
  padding: 25px;
  -webkit-box-shadow: 0 1px 15px;
  box-shadow: 0 1px 15px;
}

input[type=text] {
  display: block;
  width: 90%;
  margin: 20px auto;
  padding: 7px;
  font-size: 1.4em;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 25px 20px 5px 40px;
  font-size: 1.25em;
}

li::first-letter {
  text-transform: capitalize;
}

.complete {
  color: grey;
  text-decoration: line-through;
}
